  @import "./criminals.css";
@import "./officers.css";
@import "./notes.css";
@import "./filters.css";
@import "./alibis.css";




section {
    flex-basis: 20%;
    border: 1px solid black;
    padding: 0.5em;
    margin: 2em;
    text-align: left;
    flex-direction: column;
}